<manifest package="balti.updater"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application>

        <activity android:name=".UpdaterMain"/>
        <service android:name=".downloader.DownloaderService"/>

        <!--<provider
            android:authorities="updater.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths"/>
        </provider>-->

    </application>

</manifest>

<!--

Implementation instructions:

================
A. Set support Telegram group in: Constants.TELEGRAM_GROUP
   If not required, set it as ""
B. Change update URLs under: Constants.UPDATE_URL()
================

1. In Application instance: onCreate()......... Updater.init(<context>: Context, <current app version number>: Int)
2. To check for updates:....................... Updater.isUpdateAvailable() : Boolean
   The above function is a suspend function
3. If main app is not using coroutines:........ Updater.onUpdateAvailable(<function to run>: () -> Unit)
   The above function is run in main thread.
   So updating UI is possible.
4. To open updater:............................ Updater.launchUpdaterScreen()

5. To set host:
5a. To get host:..........................,.... Updater.getUpdateHosts() : Array<String>
5b. To get active host:........................ Updater.getUpdateActiveHost() : String
5c. To set active host:........................ Updater.setUpdateActiveHost(<server name>: String)
    The above set function only accepts a host if it was present in Updater.getUpdateServers()

6. To set channel:
6a. To get channel:............................ Updater.getChannels() : Array<String>
6b. To get active channel:..................... Updater.getActiveChannel() : String
6c. To set active channel:..................... Updater.setActiveChannel(<channel name>: String)
    The above set function only accepts a channel if it was present in Updater.getChannels()



Customisation:

1. Colors are available in colors.xml
2. Change updater background with bg.png
3. Theme is set by main app.

-->
