<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="balti.migrate">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <!--<uses-permission android:name="android.permission.ACCESS_SUPERUSER" />-->
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />

    <!-- New permission in Android 11+ -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/display_name"
        android:name=".AppInstance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity"
        >

        <activity android:name=".simpleActivities.MainActivityKotlin"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Launcher"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".storageSelector.StorageSelectorActivity"
            android:theme="@style/AppTheme.Floating"
            android:screenOrientation="portrait"
            />

        <activity android:name=".simpleActivities.ReportLogs"
            android:theme="@style/AppTheme.Floating"
            android:screenOrientation="portrait"
            />

        <activity android:name=".simpleActivities.InitialGuideKotlin"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"/>

        <activity android:name=".backupActivity.BackupActivityKotlin"
            android:screenOrientation="portrait"
            />

        <activity android:name=".extraBackupsActivity.ExtraBackupsKotlin"
            android:screenOrientation="portrait"
            />

        <activity android:name=".extraBackupsActivity.AskForName"
            android:theme="@style/AppTheme.Floating"
            android:screenOrientation="portrait"
            />

        <activity android:name=".simpleActivities.ProgressShowActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            />

        <activity android:name=".simpleActivities.SimpleLogViewer"
            android:screenOrientation="portrait"
            />

        <activity android:name=".simpleActivities.RestoreByTwrp"
            android:screenOrientation="portrait"
            />

        <activity android:name=".simpleActivities.HelpPageKotlin"
            android:screenOrientation="portrait"
            />

        <activity android:name=".preferences.MainPreferenceActivity"
            android:screenOrientation="portrait"
            />

        <activity android:name=".simpleActivities.PrivacyPolicy"
            android:screenOrientation="portrait"
            />

        <activity android:name=".messages.MessagesView"
            android:screenOrientation="portrait"
            android:theme="@style/MessagesView"
            />

        <!--Extra selectors-->
        <activity android:name="balti.migrate.extraBackupsActivity.engines.contacts.LoadContactsForSelection"
            android:theme="@style/AppTheme.Floating"/>
        <activity android:name="balti.migrate.extraBackupsActivity.engines.calls.LoadCallsForSelection"
            android:theme="@style/AppTheme.Floating"/>
        <activity android:name="balti.migrate.extraBackupsActivity.engines.sms.LoadSmsForSelection"
            android:theme="@style/AppTheme.Floating"/>
        <activity android:name="balti.migrate.extraBackupsActivity.engines.installers.LoadInstallersForSelection"
            android:theme="@style/AppTheme.Floating"/>
        <activity android:name=".extraBackupsActivity.apps.AppSizeCalculationActivity"
            android:theme="@style/AppTheme.Floating"/>

        <service android:name=".backupEngines.BackupServiceKotlin"/>

        <provider
            android:authorities="migrate.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

    </application>

</manifest>